---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import Image from "astro/components/Image.astro";
import { sortItemsByDateDesc } from "../../utils/data-utils";

export async function getStaticPaths() {
  const projects = (await getCollection("projects")).sort(sortItemsByDateDesc);
  const projectCount = projects.length;
  return projects.map((project, index) => ({
    params: { id: project.id },
    props: {
      project,
      prevProject: index + 1 !== projectCount ? projects[index + 1] : null,
      nextProject: index !== 0 ? projects[index - 1] : null
    }
  }));
}

type Props = { project: CollectionEntry<"projects">; prevProject: CollectionEntry<"projects">; nextProject: CollectionEntry<"projects"> };

const { project, prevProject, nextProject } = Astro.props;
const { title, description, seo, heroImage } = project.data;
const { Content } = await render(project);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} pageType="article" showHeader={false}>
  {
    heroImage ? (
      <div class="hero-image relative mb-16 grid aspect-video max-h-72 w-full items-center overflow-hidden rounded-t-md border-2 border-current sm:mb-24">
        <Image src={heroImage.src} alt={title} width="2000" height="2000" class="absolute" />
      </div>
    ) : null
  }
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="font-serif text-3xl font-medium leading-tight sm:text-5xl sm:leading-tight">{title}</h1>
    </header>
    <div class="prose prose-txtcolors sm:prose-lg max-w-none">
      <Content />
    </div>
  </article>
  {
    (prevProject || nextProject) && (
      <div class="my-16 sm:my-24">
        <h2 class="mb-12 font-serif text-xl sm:mb-16 sm:text-2xl">More Latest Projects</h2>
        {nextProject && <ProjectPreview project={nextProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
        {prevProject && <ProjectPreview project={prevProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
      </div>
    )
  }
</BaseLayout>
