---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import GoBackButton from "../../components/GoBackButton.astro";
import Button from "../../components/Button.astro";
import Image from "astro/components/Image.astro";

import type { Project } from "../../utils/directus";
import { fetchProjects } from "../../utils/directus-utils";

const { slug } = Astro.params;

const projects = await fetchProjects();
const projectsCount = projects.length;

const project = projects.find((project) => project.slug === slug);
if (!project) return Astro.redirect("/404");
const foundIndex = projects.findIndex((item) => item === project);

const prevProject = foundIndex + 1 !== projectsCount ? projects[foundIndex + 1] : null;
const nextProject = foundIndex !== 0 ? projects[foundIndex - 1] : null;

const { title, description, heroImage, content } = project;

type Props = { onClick?: Function; project: Project; prevProject: Project; nextProject: Project; direction: string };

const DIRECTUS_URL: string | undefined = import.meta.env.DIRECTUS_URL;
---

<BaseLayout
  title={title}
  description={description}
  image={{ src: `${DIRECTUS_URL}/assets/${heroImage?.id}`, alt: "some-temp-alt" }}
  pageType="article"
  showHeader={false}
>
  <div class="flex h-min items-center gap-8">
    <GoBackButton />
    <Button href="/news" class="h-fit"> All News </Button>
  </div>
  {
    heroImage ? (
      <div class="hero-image relative mb-16 grid aspect-video max-h-72 w-full items-center overflow-hidden rounded-t-md border-2 border-current sm:mb-24">
        <Image src={`${DIRECTUS_URL}/assets/${heroImage.id}`} alt="temporary-alt" width="2000" height="2000" class="absolute" />
      </div>
    ) : null
  }
  <article class="mb-16 border-b-2 border-current pb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="font-serif text-3xl font-medium leading-tight sm:text-5xl sm:leading-tight">{title}</h1>
    </header>
    <div class="prose prose-txtcolors max-w-none sm:prose-lg" set:html={content} />
    <GoBackButton />
  </article>

  {
    (prevProject || nextProject) && (
      <div class="my-4 sm:my-24">
        <h2 class="mb-12 font-serif text-2xl sm:mb-16 sm:text-3xl">More Projects</h2>
        {nextProject && <ProjectPreview direction="next" project={nextProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
        {prevProject && <ProjectPreview direction="prev" project={prevProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
      </div>
    )
  }
</BaseLayout>
